[Unit]
Description="HashiCorp Nomad Agent"
Documentation=https://www.nomadproject.io/docs/
Requires=network-online.target
After=network-online.target
 
[Service]
Restart=on-failure
RestartSec=2
PermissionsStartOnly=true
ExecStart=/bin/sh -c 'exec {{ nomad_bin_home }}/nomad agent -config={{ nomad_config_home }}/nomad_config.hcl >> {{ nomad_log_home }}/nomad.log 2>&1'
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
User=root
Group=root
 
[Install]
WantedBy=multi-user.target